.cabecalhoGeral {
    min-width: 100%;
    display: flex;
    gap: 20px;
}

h1{
    width: 20%;
    flex: 1;
}

.botaoPerfil {
    flex: 1;
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 10px;
}

/*.cabecalhoGeral h1{
    font-size: 30px;
}



.fotoPerfil {
    width: 40px;
    border-radius: 50%;
}*/