.cadastro-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cadastro-form {
  background-color: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(169, 165, 165, 0.2);
  text-align: center;
  width: 300px;
}

.cadastro-form h2 {
  color: rgba(170, 0, 0, 1);
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}

.cadastro-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.cadastro-form button {
  
  background-color: #0d4d00;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}

.cadastro-form button:hover {
  background-color: #0b3f00;
}

.cadastro-form p {
  color: #0d4d00;
  margin-top: 10px;
  font-size: 12px;
}
