.editar-perfil-container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.editar-perfil-form {
  background-color: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(169, 165, 165, 0.2);
  text-align: center;
  width: 350px;
}

.editar-perfil-form h2 {
  color: #0d4d00;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
}

.editar-perfil-form h3 {
  color: #0d4d00;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.editar-perfil-form input,
.editar-perfil-form textarea {
  width: 90%;
  padding: 10px;
  margin: 8px auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: block;
  font-size: 15px;
  resize: none;
}

.editar-perfil-form textarea {
  min-height: 60px;
  max-height: 120px;
}

.editar-perfil-form button {
  background-color: #0d4d00;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

.editar-perfil-form button[type="submit"] {
  background-color: #0d4d00;
}

.editar-perfil-form button[type="submit"]:hover,
.editar-perfil-form button:hover {
  background-color: #0b3f00;
}

.editar-perfil-form p {
    color: #0d4d00;
    margin-top: 10px;
    font-size: 12px;
}

.editar-perfil-form img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.deletar-salvar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#deletar-conta {
  background-color: #b30000;
}

#deletar-conta:hover {
  background-color: #800000;
}