.deletar-salvar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#deletar-conta {
  background-color: #b30000;
}

#deletar-conta:hover {
  background-color: #800000;
}