.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.metade-cima {
    flex: 1;
    background: transparent;
}

.metade-baixo {
    flex: 1;
    background: url('../../assets/grafismo.svg') no-repeat center center;
    background-size: cover;
}

